<<<<<<< HEAD
.aplicacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    gap: 2rem;
    flex-wrap: wrap;

    
=======
.div-ap-pai{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 20px;
}

.caixa-01{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(2, 2, 2, 0.486);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.658);
    background-color: rgba(255, 255, 255, 0.644);
    padding: 5px;
    gap: 20px;
    width: 23%;
    height: 20rem; 
>>>>>>> deb162297c5f672f6ef11c370a4dbdb3163979e3
}