.banner {
    background-image: url(../imagens/banner-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
    text-align: center;

    h2 {
        font-size: 4rem;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        line-height: 1.5;
        text-shadow: 2px 2px 5px #000000;

        .terra {
            color: #00ff00;
            font-weight: 700;
        }

        .energia {
            color: #ffff00;
            font-weight: 700;
        }
    }
}

@media (min-width: 501px) and (max-width: 900px) {
    .banner {
        background-image: url(../imagens/banner-tablet.png);
        padding: 7rem 0;
    }
}

@media (max-width: 500px) {
    .banner {
        background-image: url(../imagens/banner-mobile.png);
        padding: 4rem 1rem;
        h2 {
            font-size: 2.5rem;
        }
    }
}