/* "Como Funciona" & "Prêmios" - Fundos */
#como-funciona,
#premios {
    background-color: var(--sec-bcg);
}

/* "Como Funciona" - Abas (Tabs) */
.tabs-container {
    max-width: 70%;
    margin: 3rem auto 0 auto;
    line-height: 2;
}

.tabs-nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #737373;
}

.tab-button {
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 4px solid transparent;
    transition: all 0.3s;
}

.tab-button:hover {
    color: #737373;
}

.tab-button.active {
    color: #737373;
    border-bottom-color: #16425f;
}

.tabs-content-area {
    margin-top: 2rem;
}