footer {
    border-top: 2px solid #000;
    background-color: #7373737d;
    padding: 1.5rem;
}

.div-pai-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.div-logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-list-header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.div-list-header a{
    font-weight: 500;
}

.div-pai-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 25px;
    padding: 1rem;
}

.div-slogan-footer {
    text-align: right;
}

.div-slogan-footer p {
    color: blue;
}

.div-filha-loga {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-filha-loga h3 {
    margin-top: 10px;
}

.div-link-footer {
    /* borda a direita*/
    border-right: 2px solid #000;
    /*borda a esquerda*/
    border-left: 2px solid #000;
    /*padding para espaçar a borda*/
    padding: 0 3rem;
}


.div-copy {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    border-top: 1px solid #000;
    padding-top: 15px;
}