.hist-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.visao-text p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.strong-text {
    font-weight: 700;
}

/*Linha do Tempo (Timeline)*/
.timeline {
    margin: 50px 0;
    padding: 0;
}

.timeline h3 {
    font-size: 1.8em;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

/* Linha vertical */
.timeline ul {
    border-left: 3px solid #ccc;
}

.timeline-item {
    margin-bottom: 30px;
    padding-left: 20px;
    position: relative;
}

.timeline-ano {
    display: inline-block;
    background-color: #16425F;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.timeline-descricao {
    margin-top: 5px;
    padding-left: 15px;
    /* Alinhamento com o texto após o ano */
    color: #555;
}

/* Bolinhas no Início do Item (para a linha do tempo) */
.timeline-item::before {
    content: '';
    position: absolute;
    left: -10px;
    /* Alinha o círculo sobre a linha vertical */
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #16425F;
    /* Borda da cor de fundo para destacar */
    border: 5px solid #f8f8f8;
    border-radius: 50%;
}

/*Resumo/Chamada de Encerramento*/
.sumario-text {
    text-align: center;
    padding: 1.5rem;
    /* Um leve fundo cinza para destaque */
    background-color: #dcdcdc;
    border-radius: 10px;
}