.historia hr {
    background-color: black;
    width: 300px;
    height: 2px;
}

.div-text-historia h2{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding: 3rem 2rem 0rem 2rem;
}

.div-img-historia p {
    width: 800px;
    text-align: center;
}

.div-img-historia img {
    border-radius: 10px;
    width: 400px;
    height: 300px;
}

.div-img-historia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    gap: 80px;
}