.oquee {
    background-color: gray;
}

.div-pai{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo h2{
    font-size: 3rem;
}

.div-lorem p{
    font-size: 1.25rem;
}

.Ilustração {
    background-image: url(../imagens/ilustraçao.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 85%;
}

.div1 {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    padding: 10px;
    text-align: center;
    width: 85%;
}
