.oque {
    padding: 5rem 3rem;
    text-align: center;
}

.oque-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.oque-txt {
    display: flex;  
    flex-direction: column;
    width: 45%;
}

.oque-txt p{
    line-height: 2;
}

.oque-img {
    /* background-image: url(../imagens/ilustraçao.jpg); */
    background-image: url(../imagens/Ilustracao_teste.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 45%;
    box-shadow: 0 0 5px #000;
}
