.oquee {
    background-color: gray;
}

.div-pai{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.titulo h2{
    font-size: 4rem;
}

.div-lorem p{
    font-size: 2rem;
}

.Ilustração {
    background-image: url(../imagens/ilustraçao.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
    width: 50%;
}

.div1 {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    padding: 10px;
    width: 50%;
}
