.pacotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pct-container {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

/*PACOTES*/

.pct-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.pct-box {
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 350px;
}

.box-logo img {
    width: 50px;
}

.txt-ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.txt-ul ul {
    line-height: 1.5;
}

/*COR DE FUNDO DE CADA PLANO*/
.conteudo1 {
    background-color: #DDFFFF;
}

.conteudo2 {
    background-color: #A2D5D5;
}

.conteudo3 {
    color: #fff;
    background-color: #378080;
}

/*DIVISORIA*/
.divisoria {
    border: 1px solid #000;
    height: 90%;
}

/*Contato*/

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    margin-top: 25px;
}

.contato-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.plano-opt {
    padding: 5px;
}

.contato-text {
    height: 200px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    /*TIRA A OPÇÃO DE REDIMENSIONAR A ÁREA DE TEXTO*/
    resize: none;
}

.contato-btn {
    font-weight: 700;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #16425f;
    cursor: pointer;
    color: #fff;
}

.contato-btn:hover {
    background-color: #226490;
}

