.pacotes-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    gap: 50px;
}

.pacotes {
    display: flex;
    flex-direction: column;
}

.bx{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.568);
    width: 300px;
    margin: 20px ;
    height: 200px;
}


.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}