.parc-logo {
    display: grid;
    /*CRIANDO 4 COLUNAS COM 150PX DE LARGURA*/
    grid-template-columns: repeat(4, 150px);
    /*CRIANDO 2 LINHAS COM 150PX DE ALTURA*/
    grid-template-rows: 150px 150px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.div-par {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.parc1 {
    background-image: url(../imagens/parceiro1.png);
}

.parc2 {
    background-image: url(../imagens/parceiro2.png);
}

.parc3 {
    background-image: url(../imagens/parceiro3.png);
}

.parc4 {
    background-image: url(../imagens/parceiro4.png);
}

.parc5 {
    background-image: url(../imagens/parceiro5.png);
}

.parc6 {
    background-image: url(../imagens/parceiro6.png);
}

.parc7 {
    background-image: url(../imagens/parceiro7.png);
}

.parc8 {
    background-image: url(../imagens/parceiro8.png);
}