.title-award {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 5px;
}

.premiacoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 20px;
}

.box-award {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 3px solid rgba(248, 246, 246, 0.63);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.658);
    background-color: rgba(255, 255, 255, 0.644);
    padding: 1rem;
    gap: 20px;
    width: 13rem;
    height: 20rem;
}

.box-award img {
    margin-top: 10px;
    width: 20%;
}


.box-award p {
    color: rgba(0, 0, 0, 0.658);
    margin-top: 25px;
}