.premiacoes {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 20px;
}

.box-award {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(2, 2, 2, 0.486);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.658);
    background-color: rgba(255, 255, 255, 0.644);
    padding: 5px;
    gap: 20px;
    width: 23%;
    height: 20rem;
}

.box-award img {
    margin-top: 10px;
    width: 20%;
}

/* .box-award i {
    color: rgb(0, 0, 255);
    margin-top: 10px;
    font-size: 1.7rem;
} */

.box-award h3{
    font-weight: bold;
    color: black;

}

.box-award p {
    color: rgba(0, 0, 0, 0.658);
    margin-top: 25px;
}