@media (max-width:500px) {
    h1 {
        font-size: 1.5rem;
    }

    .div-pai-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .nav-desktop {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        top: -30rem;
        /* começa escondido acima */
        left: -2rem;
        width: 100%;
        height: 30vh;
        background-color: #D8D8C0;
        transition: top 0.3s ease-in-out;
        /* transição suave */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .show {
        top: 90px;
        /* desce suavemente quando é ativado */
        left: -2rem;
    }

    .ul-list2 {
        flex-direction: column;
        gap: 10px;
        padding: 1rem 0;
      }
}