@media (max-width:500px) {
    h1 {
        font-size: 1.25rem;
    }

    .div-pai-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    /*MENU HAMBURGER*/

    .nav-desktop {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        /*COMEÇA ESCONDIDO*/
        top: 80px;
        right: -50rem;
        /*AJUSTA O ALINHAMENTO*/
        /* left: -2rem; */
        /*LARGURA TOTAL DO MENU*/
        width: 100%;
        /*ALTURA DO MENU*/
        height: 310px;
        background-color: #16425f;
        transition: right 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }

    .show {
        right: 0px;
        /* desce suavemente quando é ativado */
        top: 80px;
    }

    .ul-list2 {
        flex-direction: column;
        padding: 1rem 0;
    }

    .div-list-header ul {
        gap: 2rem;
    }

    .div-list-header a {
        font-size: 2rem;
    }
}