body {
    background-color: #f5f5f5;
}

.mascara {
    background: #16425F;
    background: linear-gradient(180deg,rgba(22, 66, 95, 0.801) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

span {
    font-size: inherit;
}

/*Menu Mobile*/

.nav-menu {
    display: none;
}

.menu-btn {
    i {
        font-size: 1.5rem;
    }

    cursor: pointer;
    display: none;
}