main {
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

span {
    font-size: inherit;
}

/* 2. LAYOUT PRINCIPAL */
.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Cabeçalho Padrão das Seções */
.section-header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 3rem auto;
}

.section-header h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--geo-verde);
}

.section-header p {
    font-size: 1.125rem;
    margin-top: 1.5rem;
}

/*Menu Mobile*/

.nav-menu {
    display: none;
}

.menu-btn {
    i {
        font-size: 1.5rem;
    }

    cursor: pointer;
    display: none;
}