body {
    background-color: #f5f5f5;
}

.mascara {
    background: #16425F;
    background: linear-gradient(180deg,rgba(22, 66, 95, 0.801) 0%, rgba(255, 255, 255, 0) 70%);
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

span {
    font-size: inherit;
}

/*Menu Mobile*/

.nav-menu {
    display: none;
}

.menu-btn {
    i {
        font-size: 1.5rem;
    }
    cursor: pointer;
    display: none;
}

/* LAYOUT PRINCIPAL */
.container {
    padding: 3rem;
}

/* Cabeçalho Padrão das Seções */
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    width: 70%;
    margin: 0 auto 3rem;
}

/*Padrão Flex do Container*/
.flex-container-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/*Padrão Cards*/
.card {
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 300px;
    width: 300px;
    background-color: var(--white);
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px #ABD587;
    text-align: center;
}

.card-apli {
    height: 500px;
}

.card-serv {
    height: 450px;
    line-height: 1.3;
}

/*Imagem dentro dos Cards*/
.card-img{
    width: 100%;
    height: 200px;
}

/*Icone troféu*/
.card-ico {
    width: 50px;
    height: 50px;
    font-size: 50px;
    align-self: center;
    justify-self: center;
}