.vantagens {
    background-color: var(--geo-verde);
}

/* 2. LAYOUT PRINCIPAL */
.container {
    padding: 2rem;
}

/* Cabeçalho Padrão das Seções */
.section-header {
    text-align: center;
    width: 70%;
    margin: 0 auto 3rem;
}

/*Padrão Grid Container*/
.grid-container-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* 1 coluna em mobile */
    gap: 2rem;
    margin-top: 3rem;
}

.grid-container-3 {
    grid-template-columns: repeat(3, 1fr);
}

/*Padrão Cards*/
.card {
    height: 300px;
    width: 300px;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    text-align: center;
}

.card span {
    font-size: 3rem;
    line-height: 1;
}