.grid-container-3 {
    display: grid;
    grid-template-columns: 1fr; /* 1 coluna em mobile */
    gap: 2rem;
    margin-top: 3rem;
}

.grid-container-3 {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    text-align: center;
}

.card span {
    font-size: 3rem;
    line-height: 1;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--geo-verde);
    margin: 1rem 0;
}