.vantagens {
    background-color: var(--geo-verde);
}

/* LAYOUT PRINCIPAL */
.container {
    padding: 5rem 0;
}

/* Cabeçalho Padrão das Seçõ                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[                                                                                                   es */
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    width: 70%;
    margin: 0 auto 3rem;
}

/*Padrão Flex do Container*/
.flex-container-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/*Padrão Cards*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    min-height: 300px;
    max-height: 450px;
    width: 300px;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    text-align: center;
}

/*Icone do Card*/
.card span {
    font-size: 3rem;
    line-height: 1;
}

/*Imagem dentro dos Cards*/
.card img{
    width: 90%;
    height: 200px;
}

/* Section premiações*/
.premiacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Icone troféu*/
.card .premio {
    width: 50px;
    height: 50px;
}